# Ignore all files in the data/ directory
# data/
data_test/
extra_files/
generated_charts/
useful_docs/
QA_gen.py
quick_generate_charts.py

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment Variables
.env
.env.local
.env.*.local


